html {
  font-family: Helvetica;
  color: #313131;
  line-height: 1.7;
}

body {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr minmax(0, 44rem) 1fr;
}

main {
  grid-column-start: 2;
  grid-row-start: 2;
}

header {
  grid-column-start: 2;
}

footer {
  grid-column-start: 2;
  grid-row-start: 3;
  border-top: 2px solid #e1e1e1;
  color: #a4a4a4;
}

a {
  color: #0b8ca2;
}

a:hover {
  color: #313131;
}


a:visited {
  color: #9104ae;
}

main > ul:first-child {
  list-style: none;
  margin: 0;
  padding: 0
}

time {
  display: block;
  font-size: small;
}
