{:paths ["src" "resources" "test"]
 :deps {org.clojure/clojure {:mvn/version "1.10.1"}
        funcool/datoteka {:mvn/version "1.2.0"}
        cljstache/cljstache {:mvn/version "2.0.6"}
        ersimont/clj-front-matter {:git/url "https://github.com/ersimont/clj-front-matter"
                                   :sha "a3564a44093ef2dd6bfe8b6f37c1bc24bd1144ac"}}
 :aliases
 {:dev {:extra-deps {vvvvalvalval/scope-capture {:mvn/version "0.3.2"}}}
  :test {:extra-paths ["test"]
         :extra-deps {com.cognitect/test-runner {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                                 :sha "209b64504cb3bd3b99ecfec7937b358a879f55c1"}}
         :main-opts ["-m" "cognitect.test-runner"]}
  :uberjar {:extra-deps {seancorfield/depstar {:mvn/version "1.0.94"}}
            :main-opts ["-m" "hf.depstar.uberjar" "dynamo.core.jar"
                        "-C" "-m" "dynamo.core"]}}}
