:root {
  --color: #0091ab;
  --white: #fbfbfb;
  --black: #313131;
  --grey: #8a8a8a;
  --light-grey: #e1e1e1;
}

html {
  font-family: Helvetica;
  color: var(--black);
  line-height: 1.7;
  background-color: var(--white);
  font-size: 22px;
}

body {
  margin: 0;
  min-height: 100vh;
  max-width: 36rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 0 1em;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 3rem;
}

main {
  flex: 1;
}

header {
}

footer {
  border-top: 2px solid var(--light-grey);
  color: var(--grey);
  margin-top: 2rem;
}

footer small {
  font-size: small;
}

a {
  color: var(--color);
  transition: color 0.25s linear;
}

a:hover, a:visited:hover {
  color: #313131;
}


a:visited {
  color: var(--grey);
}

main > ul:first-child {
  list-style: none;
  margin: 0;
  padding: 0
}

main > ul:first-child li {
  margin-bottom: 1rem;
}

time {
  display: block;
  font-size: small;
  color: #8a8a8a;
}

/* to prevent fouc */
html {
  visibility: visible;
  opacity: 1;
}
